<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PROD" value="Data Source=WMSSQLCLUSTER;Initial Catalog=ILS;Persist Security Info=True;User ID=CDCToolBoxuser;Password=Disney4321" />
    <add key="TEST" value="Data Source=WMSTESTSQL;Initial Catalog=ILS_MA;Persist Security Info=True;Integrated Security=true" />
    <add key="MODE" value="PROD" />
    <!--Test or Prod : Not Case Sensitive-->
    <!--<add key="SOURCE" value="C:\Blanco\TestingGround\Cubiscan\" /> CUBISCAN DROP FOLDER-->
    <!--<add key="PROCESSED" value="C:\Blanco\TestingGround\Cubiscan\Processed\" /> CUBISCAN PROCESSED FOLDER-->
    <!--<add key="ERROR" value="C:\Blanco\TestingGround\Cubiscan\ErrorFiles\" /> CUBISCAN BAD FILES FOLDER-->
    <add key="SOURCE" value="\\wmsapp\ILS\Interface\Cubiscan\" />
    <add key="PROCESSED" value="\\wmsapp\ILS\Interface\Cubiscan\Processed\" />
    <add key="ERROR" value="\\wmsapp\ILS\Interface\Cubiscan\ErrorFiles\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web> 
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>